* {
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;

}

/* General */
.body {
    font-family: 'Roboto', sans-serif;
}
body::-webkit-scrollbar{
    width: 12px;
    background: transparent;
}
body::-webkit-scrollbar-thumb{
    background-color: #ff9933;
    border-radius: 10px;
}
body::-webkit-scrollbar-track{
    border-radius: 10px;
}
/* .container{
    max-width: 1080px;
    margin: 0px auto;
} */

/* .header {
    display: grid;
} */

.header {
    background-color: #0F1111;
    color: white;
    padding: 3px;

    font-family: 'Roboto', sans-serif;
}

.grid_container {
    display: grid;
    grid-template-columns: 140px 100px auto 1fr;
    grid-template-rows: 1fr auto auto;
}

.brand {
    display: grid;
    align-items: center;
    justify-content: center;
}

.Brand-img {
    width: auto;
    height: 50px;
}

.location {
    display: grid;
    grid-template-columns: 1fr 100px;
}

.loc-txt {
    font-size: 15px;
    color: gray;
    font-weight: bold;
}

.icon {
    font-size: 20px;
    display: grid;
    align-items: end;
    /* padding: 0px; */
    padding-bottom: 9px;
}

.icon-text {
    align-items: center;
    display: grid;
}

#selector {
    padding: 10px 0px;
    text-align: center;
    background-color: #f3f3f3;
    border-radius: 5px 0px 0px 5px;
}

.nav-center {
    display: grid;
    grid-template-columns: 70px 1fr 50px;
    align-items: center;

}

.search-container input[type="search"] {
    padding: 10px;
    font-size: 14px;
    width: 550px;
    border: 1px solid white;
}
.search-container input[type="search"]:focus {
    border: 3px solid #ff9933;
  }

.btnsearch {
    font-size: 23px;
    padding: 4px 6px 4px 4px;
    border-right: 1px solid #ff9933;
    border-bottom: 1px solid #ff9933;
    border-top: 1px solid #ff9933;
    border-left: 0px;
    background-color: #ff9933;
    border-radius: 0px 6px 6px 0px;
}

.flag {
    width: auto;
    height: 20px;
}

.nav-right {
    display: grid;
    align-items: center;
    grid-template-columns: 70px 170px 80px 90px;

}

#selector1 {
    width: 14px;
    border: none;
    color: white;
    background-color: black;
    height: 10px;
}

.nav-text {
    align-items: center;
    grid-template-columns: 125px 10px;
    display: grid;
}

.hello-txt {
    font-size: 13px;
    font-weight: 100;

}

.hello_text {
    font-weight: bold;
}

/* Navbar here */
.cart {
    display: grid;
    grid-template-columns: 50px 1fr;
    align-items: center;
}

.cart_icon {
    font-size: 40px;
}

.nav_bar {
    display: grid;
    height: 35px;
    font-family: 'Roboto', sans-serif;

    background-color: #232f3e;
    grid-template-columns: 100px 1fr 240px;
    align-items: center;
    justify-content: center;
    color: white;
}
i.bx.bx-menu {
    font-size: 26px;
}
.menu_icon {
    display: flex;
    font-size: 20px;

    /* display: grid; */
    /* grid-template-columns: 39px 1fr; */
    justify-content: center;

}
.menu_icon:hover{
    border: 1px solid white;

}
.menu_lists {
    display: grid;
    /* grid-template-columns: repeat(5, minmax(100px,200px)); */
    grid-template-columns: 110px 140px 70px 90px 100px;
    color: white;

}

.menu_link {
    color: white;
    text-decoration: none;
}
.menu_link:hover {
    color: #ff9933;
}

.menu_last {
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
}

/* section one here */
.container {
    max-width: 1300px;
    margin: 0 auto;
}

.body_imgtag {
    width: auto;
    height: 600px;
}

.body_img {
    position: relative;
    top: 0;
}

.img_textbox {
    /* position: absolute;
    top: 12%;
    left: 38%; */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.img_head {
    font-size: 45px;
    color: #524848;
    font-weight: bold;
}

.img_para {
    color: #524848;
    font-size: 25px;
    font-weight: 600;
}

.click_link {
    position: absolute;
    display: flex;
    bottom: 10%;
    right: 2%;
    width: 82%;
    padding: 10px 90px;
    background-color: #F5F6F6;
    text-align: center;
    justify-content: center;
    align-items: center;
    align-content: center;
}

/* grid here */
.Grid_layout {
    background-color: rgb(225, 224, 224);
}

.cards_row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: minmax(100px, 1fr);

    grid-gap: 1em;
    grid-template-areas: "cards_one cards_two cards_three cards_four"
        "cards_one cards_two cards_three .";
}

.cards_style {
    background-color: #fff;
    padding: 15px;
}

.cards_one {
    grid-area: cards_one;
}

.cards_two {
    grid-area: cards_two;
}

.cards_three {
    grid-area: cards_three;
}

.cards_four {
    grid-area: cards_four;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card_img {
    display: flex;
    flex-wrap: wrap;
    /* width: 100px; */
    justify-content: center;
    align-items: center;
}

.card_imgtag {
    width: 120px;
    height: 150px;
}

.card_text {
    /* padding: 10px 0px; */
    text-align: left;
    padding-top: 20px;
    /* color: blue; */
}

.card_link {
    text-decoration: none;
    color: #007185;
}
.card_link:hover{
    text-decoration: underline;
    cursor: pointer;
    color: #C7511F;
}

.body_img {
    background-image: url(images/body_img.jpg);
    background-size: cover;
    height: 300px;
}

/* second row hre */
.card_1img {
    width: 270px;
    height: 300px;
}

.card_button {
    background-color: #ff9933;
    width: 100%;
    text-align: center;
    padding: 5px 0px;
    border-radius: 10px;
    margin: 10px;
    border: 1px solid #FCD200;
    color: #0F1111;
    background-color: transparent;
  
    /* border-color: #FCD200; */
}

.card_button:hover {
    background: #FFD814;
    color: black;
}

.card_ends {
    display: inline;
    color: #CC0C39;
    font-weight: 600;
}



.card_2img {
    width: 200px;
    height: 200px;
}

.card_btn {
    background-color: #CC0C39;
    padding: 5px 10px;
    color: white;
    border: none;
    font-size: 15px;

}



.card_para2 {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 8px;

}

.card_graypara{
    color: #565959;
    font-size: 14px;
}


.crossline{
    text-decoration: line-through;
}

/* popular row here */
.popular_row, .frequent_row {
    max-width: 1300px;
    margin: 20px auto;
    background-color: #fff;
}
.popular_row_grid, .frequent_row_grid {
    display: grid;
    grid-gap: 1em;
    /* overflow: scroll; */
    grid-template-columns: repeat(6, auto);
}
.popular_head, .frequent_head {
    padding: 10px;
}